{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Edition de compte{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h1>Modification de compte</h1>
    {{ form_start(form) }}

    {{ form_row(form.nickname, {
      label: 'username'|trans
    }) }}
    {{ form_row(form.email, {
      label: 'email'|trans
    }) }}

    {{ form_row(form.plainPassword, {
    label: 'password'|trans
    }) }}

    <h2>{{"ui_options"|trans}}</h2>
    {{ form_row(form.locale, {
      label: 'locale'|trans
    }) }}

    {{ form_row(form.highlighting, {
      label: 'highlighting'|trans
    }) }}

    <button type="submit" class="btn btn-primary">Valider</button>

    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
