{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block container %}container-fluid{% endblock %}

{% block body %}
  <div class="row">
    <div class="col text-center">
      <picture id="main-img" >
          {% set imgLang = (app.request.locale == "fr") ? app.request.locale : "en" %}
          <source media="(min-aspect-ratio: 18 / 9)" srcset="{{asset('img/home/proust-landscape_'~imgLang~'.png')}}">
          <source media="(min-aspect-ratio: 15 / 9)" srcset="{{asset('img/home/proust-large_'~imgLang~'.png')}}">
          <source media="(min-aspect-ratio: 10 / 9)" srcset="{{asset('img/home/proust-carree_'~imgLang~'.png')}}">
          <source media="(min-aspect-ratio: 1 / 9)" srcset="{{asset('img/home/proust-portrait_'~imgLang~'.png')}}">
          <img alt="Marcel Proust"/>
      </picture>
      {% include('includes/navbar.html.twig') with {'direction': 'up'} %}
    </div>
  </div>
{% endblock %}

{% block navbar %}{% endblock %}
