<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h1>
          {{"note"|trans}} n°<span id="note-title-id"></span>
        </h1>
        <div class="note-content">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-golden" data-bs-dismiss="modal">{{'close'|trans}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="note-otherModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="note-content note-other-content">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-golden" data-bs-dismiss="modal">{{'close'|trans}}</button>
      </div>
    </div>
  </div>
</div>
