<div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar-info" aria-labelledby="sidebar-infoLabel">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="sidebar-infoLabel">Lettre {{letter.proustId}}</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-grid gap-2">
    
      <a class="btn btn-blue" download="{{letter.originalFilename}}.xml" href="{{asset(letters_directory)~'/'~letter.filename}}">
        <span class="md-18 material-icons">download</span>
        {{"download"|trans}}
      </a>
      
      {% if is_granted('ROLE_ADMIN') %}
      <a class="btn btn-blue" href="{{ path('letter_publish', {'id': letter.id, publish: letter.published ? 0 : 1}) }}">
        <span class="md-18 material-icons">{{ letter.published ? 'visibility_off' : 'visibility'}}</span>
        {{ letter.published ? "unpublish"|trans : "publish"|trans }}
      </a>

       <a class="btn btn-blue" href="{{ path('letter_cache_invalidate', {'id': letter.id}) }}">
        <span class="md-18 material-icons">autorenew</span>
        {{ "cache_invalidate"|trans }}
      </a>
      
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#deleteModal">
          <span class="md-18 material-icons">delete</span>
          {{"delete"|trans}}
        </a>
      {% endif %}
    {% endif %}
    </div>

    <div class="mt-3 card">
      <div class="card-body">
        <h4 class="card-title">Informations</h4>
        <p class="card-text"><b>creation</b> :
          {{ letter.creationDate | date }}
        </p>
        <p class="card-text">
          <b>mise à jour :</b>
          {{ letter.updateDate | date }}
        </p>
        <p class="card-text"><b>publiée ?</b>
          {{ letter.published ? "oui" : "non" }}
        </p>
        <p class="card-text"><b>filename :</b>
          {{ letter.filename }}
        </p>
        <p class="card-text"><b>original filename :</b>
          {{ letter.originalFilename }}.xml
        </p>
      </div>
    </div>
  </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{{"delete"|trans}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{"delete_text"|trans}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"no"|trans}}</button>
        <a type="button" class="btn btn-danger" href="{{ path('letter_delete', {'proustId': letter.proustId}) }}">{{"delete_confirm"|trans}}</a>
      </div>
    </div>
  </div>
</div>
