{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
  Logs
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{"logs"|trans}}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>cp</th>
            <th>expéditeur</th>
            <th>destinataire</th>
            <th>humanDate</th>
            <th>publiée ?</th>
            <th>original filename</th>
            <th>filename</th>
            <th>update date</th>
            <th>Voir</th>
            <th>{{"download"|trans}}</th>
            <th>{{"delete"|trans}}</th>
          </tr>
        </thead>
        <tbody>
        {% for letter in letters %}
        <tr>
            <td>CP {{letter.proustId}}</td>
            <td>{{letter.sender ? letter.sender.name : ""}}</td>
            <td>{{letter.recipient ? letter.recipient.name : ""}}</td>
            <td>{{letter.humanDate }}</td>
            <td>{{letter.published ? "oui" : "non"}}</td>
            <td>{{letter.originalFilename}}</td>
            <td>{{letter.filename}}</td>
            <td>{{letter.updateDate|date}}</td>
            <td>
              <a class="btn btn-blue" target="_blank" href="{{path('letter', {proustId: letter.proustId})}}">
                >
              </a>
            </td>
            <td>
              <a class="btn btn-blue" download="{{letter.originalFilename}}.xml" href="{{asset(letters_directory)~'/'~letter.filename}}">
                <span class="md-18 material-icons">download</span>
              </a>
            </td>
            <td>
            <a class="btn btn-danger" href="{{ path('letter_delete', {'proustId': letter.proustId}) }}">
              X
            </a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
