{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{"preprod_letters"|trans}}{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
<div class="row">
  <h1>{{"preprod_letters"|trans}}</h1>
  <div class="col">
    <table id="table" class="table table-striped" >
      <thead>
        <tr>
          <th scope="col">CP</th>
          <th scope="col">De</th>
          <th scope="col">A</th>
          <th scope="col">Date</th>
          <th scope="col">Status ici</th>
          <th scope="col">-</th>
          <th scope="col">-</th>
          <th scope="col">-</th>
        </tr>
      </thead>
      <tbody>

    {% for letter in letters|sort((a, b) => a.id <=> b.id) %}
      {% if letter.id  %}
      <tr>
        <td>
          {{letter.id}}
        </td>

        <td>
          {{ letter.from }}
        </td>

        <td>
          {{ letter.to }}
        </td>

        <td>
          {{ letter.date }}
        </td>

        <td>
          {% if letter.id in publishedLetters %}
          <a href="{{ path("letter", {'proustId': letter.id}) }}" target="_blank">
          <span class="badge text-bg-success">publiée</span>
          </a>
          {% elseif  letter.id in unpublishedLetters %}
          <a href="{{ path("letter", {'proustId': letter.id}) }}" target="_blank">
            <span class="badge text-bg-secondary">non publiée</span>
          </a>
          {% else %}
            <span class="badge text-bg-light">non présente</span>
          {% endif %}
        </td>

        <td>
          {% if letter.id in publishedLetters %}
          <a href="{{ path("letter_publish_cp", {'proustId': letter.id, 'publish': 0}) }}">
            Dépublier
          </a>
          {% elseif  letter.id in unpublishedLetters %}
          <a href="{{ path("letter_publish_cp", {'proustId': letter.id, 'publish': 1}) }}">
            Publier
          </a>
          {% else %}
            -
          {% endif %}
        </td>
        
        <td>
          <a href="{{preprod ~ "letter/" ~ letter.id}}" target="_blank">
            Voir sur la préprod
          </a>
        </td>

        <td>
          {% if letter.from|trim != "" and letter.to|trim != "" and letter.date|trim != "" %}
          <a href="{{ path("admin_preprod_letter_load", {"proustId": letter.id}) }}">
            Remplacer par préprod
          </a>
          {% endif %}
        </td>

      </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>

</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('preprod') }}
{% endblock %}
