{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{"letters"|trans}}{% endblock %}

{% block container %}container{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('letters') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('letters') }}
{% endblock %}

{% block body %}
<div class="row" id="app" data-instance="{{instance}}" data-admin="{{ is_granted('ROLE_ADMIN') ? 1 : 0 }}" data-publishedids="{{publishedLetterIds|escape('html_attr') }}" data-json="{{json|escape('html_attr') }}" v-cloak>
  <h1>Résultats pour 
      <span class="text-muted">
        {{query|trans}} 
        {% if invert is defined and invert == 1 %}
        ( {{"invert"|trans}} )
        {% endif %}
      </span>
  </h1>

  <div class="col-sm-12 col-md-5">
    <div id="search-box">

      <h2>Filtrer (<span v-text="filteredLetter().length"></span>)</h2>

      <div id="filters-container">

        <div>
          <div class="filter-criteria">{{'by_date'|trans}}</div>
          <div id="range"></div>
          <div id="text-range">
          {{"from"|trans}} <span id="event-start"></span>
          {{"to"|trans}} <span id="event-end"></span>
          </div>

          <div class="d-none">
            <input type="number" id="lower" v-model="filters.lowerBoundary"/>
            <input type="number" id="higher" v-model="filters.higherBoundary"/>
          </div>
        </div>

        <div>
          <div class="filter-criteria">{{'by_sender'|trans}}</div>
          <select id="expediteurs" v-model="filters.from">
            <option v-for="v in getDistinctValues('from_canonical')" :value="v">${v}</option>
          </select>
        </div>

        <div>
          <div class="filter-criteria">{{'by_recipient'|trans}}</div>
          <select id="destinataires" v-model="filters.to">
            <option v-for="v in getDistinctValues('to_canonical')" :value="v">${v}</option>
          </select>
        </div>

        <div>
          <div class="filter-criteria">{{'by_id'|trans}}</div>
          <select id="corr-proust-id" v-model="filters.id">
            <option v-for="v in getDistinctValues('id')" :value="v">${v}</option>
          </select>
        </div>

        <div>
          <div class="filter-criteria">{{"keywords"|trans}}</div>
          <select id="tags" v-model="filters.tags">
            <option v-for="v in getDistinctArrayValues('tags')" :value="v">${v}</option>
          </select>
        </div>

       {% if is_granted('ROLE_ADMIN') %}
        <div>
          <div class="filter-criteria">{{"publication_status"|trans}}</div>
          <select class="form-select" id="published" v-model="filters.published">
            <option value="all">{{"all_letters"|trans}}</option>
            <option value="published">{{"only_published"|trans}}</option>
            <option value="unpublished">{{"only_unpublished"|trans}}</option>
          </select>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="letters-list" class="col ps-4 mt-2">
    <div class="letters-list">
      <div v-for="letter in filteredLetter()" class="letter" :data-published="publishedIds.includes(letter.id) ? 1 : 0">
        <a class="btn cp" :href="generateUrl(letter.id)">
        CP ${letter.id}
        </a>
        <div class="letter-ppl">${letter.from} {{"letters_to"|trans}} ${letter.to}</div>
        <div class="letter-date">${letter.date}</div>
        <div class="letter-badges">
          <span v-for="tag in letter.tags.sort(function(a, b) {return a.localeCompare(b);})" class="badge letter-badge">
            ${tag}
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
