{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
  {{"search"|trans}}
{% endblock %}

{% block container %}container{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{"search"|trans}}</h1>
      {{ form(form) }}

      <h2 class="mt-5">{{"subsets"|trans}}</h2>

      <ul class="list-group">
        <li class="list-group-item">
            <a href="{{path('subset', {'name': 'letters_redated', 'val': 'oui'})}}">
              {{"letters_redated"|trans}}
            </a> - 
            <a href="{{path('subset', {'name': 'letters_redated', 'val': 'oui', 'invert': 1})}}">
              {{"letters_unredated"|trans}}
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{path('subset', {'name': 'letters_entirety', 'val': 'true'})}}">
              {{"letters_entirety"|trans}}</a> - 
            <a href="{{path('subset', {'name': 'letters_entirety', 'val': 'true', 'invert': 1})}}">
              {{"letters_non_entirety"|trans}}
            </a>
        </li>
         <li class="list-group-item">
            <a href="{{ path('subset', {'name': 'letters_signed'}) }}">
              {{"letters_signed"|trans}}
            </a> - 
            <a href="{{ path('subset', {'name': 'letters_signed', 'invert': 1}) }}">
              {{"letters_unsigned"|trans}}
            </a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}

