<div class="tab-pane fade text-pane" id="text-{{pos}}" role="tabpanel" aria-labelledby="text-tab">
  <span class="btn toggle-mark" data-pos="{{pos}}">
  {{"highlighting"|trans}}
  </span> <hr/>
  {{linear|raw}}
</div>
